{% extends 'base.html.twig' %}

{% block title %}Page de connexion{% endblock %}

{% block body %}

			<div class="container justify-content-center my-3 py-3 rounded-3 login">
					<div class="login-wrap rounded-3 ">

                        <form method="post" class="col px-5 m-5 rounded-3 align-self-center justify-content-center">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}

                            <h1 class="h3 mb-3 font-weight-normal">Page de connexion</h1>
                            <br>
                            <br>
                            <label for="inputEmail"><h5>Email</h5></label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                            <label for="inputPassword"><h5>Password</h5></label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                            <input type="hidden" name="_csrf_token"
                                value="{{ csrf_token('authenticate') }}"
                            >

                            {#
                                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                See https://symfony.com/doc/current/security/remember_me.html

                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                    </label>
                                </div>
                            #}
                            <br>
                            <br>
                            <center>
                            <button class="btn btn-lg btn-primary" type="submit">
                                Connexion
                            </button>
                            <a class="btn btn-lg btn-primary" href="{{path('app_home')}}">
                                Page d'Accueil
                            </a>
                            </center>
                        </form>

                        
		            </div>
            </div>
{% endblock %}
