{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

{% for flashError in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{flashError}}</div>
{% endfor %}
<div class="container justify-content-center my-3 py-3 rounded-3 logout">
	<div class="login-wrap rounded-3 ">
        <h2>  Nouvelle Inscription</h2>
        <br>
        <br>

            {{ form_start(registrationForm, { 'attr': {'class': 'col px-5 m-5 rounded-3 align-self-center justify-content-center'} }) }}
                {{ form_row(registrationForm.matricule, { 'attr': {'class': 'form-control'} }) }}
                {{ form_row(registrationForm.nom, { 'attr': {'class': 'form-control'} }) }}
                {{ form_row(registrationForm.prenom, { 'attr': {'class': 'form-control'} }) }}
                {{ form_row(registrationForm.email, { 'attr': {'class': 'form-control'} }) }}
                {{ form_row(registrationForm.plainPassword, {'label': 'Password','attr': {'class': 'form-control'} }) }}
                <br>
                {{ form_row(registrationForm.photoFile, { 'attr': {'class': 'form-control'} }) }}
                <br>
                <div class="form-check">
                {{ form_row(registrationForm.agreeTerms, { 'attr': {'class': 'form-check-input ','type':'checkbox'},'label':'Veuillez acceptez les termes d\'utilisation' }) }}
                <br>
                </div>
                {{ form_row(registrationForm.submit, { 'label': 'S\'enregistrer','attr': {'class': 'form-control btn btn-success'}  }) }}
                
            {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
