         
          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
             <li><a class="nav-link" href="" >Bonjour {{ app.user.prenom }}</a></li> 
            </ul>
            

            <div class="dropdown">
                <span class="btn rounded-3 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="{{ asset('uploads/users/' ~ app.user.photo) | imagine_filter('my_thumb_profil') }}" alt="{{ app.user.prenom }}">  
                </span>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  
                   {% if is_granted("ROLE_ADMIN") %}
                  <li class="dropdown-item">
                    <a class="nav-link active" aria-current="page" href="{{path('app_admin')}}">Administration</a>
                  </li>
                  <li class="dropdown-item">
                    <a class="nav-link active" aria-current="page" href="#">Gestion des collaborateurs</a>
                  </li>
                  <li class="dropdown-item">
                    <a class="nav-link active" aria-current="page" href="#">Mon profile</a>
                  </li>
                  {% elseif is_granted("ROLE_DELEG")%}
                    <li class="dropdown-item">
                    <a class="nav-link active" aria-current="page" href="#">Gestion des collaborateurs</a>
                    </li>
                    <li class="dropdown-item">
                    <a class="nav-link active" aria-current="page" href="#">Mon profile</a>
                  </li>
                  {% endif %}

                  <li><hr class="dropdown-divider"></li>

                   <li><a class="dropdown-item" href="{{ path('app_logout') }}" >Déconnexion</a></li>

                </ul>
            </div>




          {% else %}
            
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li><a class="nav-link" href="{{ path('app_login') }}" >Connexion</a></li>
                <li><a class="nav-link" href="{{ path('app_register') }}" >S'enregistrer</a></li>
              </ul>
            
          {% endif %}
